.menu {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 550px;
    width: 1000px;
    border-radius: 3px;
    border-color: aqua;
    box-shadow: 3px 3px 10px 10px aqua;
}

.rateBtn-menuBtn {
    position: absolute;
    left: 30%;
    top: 82%;
    width: 170px;
    height: 40px;
    font-size: 30px;
}

.exitBtn {
    position: absolute;
    left: 50%;
    top: 82%;
    width: 170px;
    height: 40px;
    font-size: 30px;
}

.modeContainer {
    display: flex;
    gap:10px;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    left: 10%;
    top: 20%;
    width: 80%;
    height: auto;
    min-height: 300px;
}

.dificulty {
    width: 30%;
    height: auto;
    text-align: center;
    border: 3px solid rgb(80, 226, 226);
    border-radius: 10px;
}

.modeBtn {
    margin-top: 15px;
    width: 80%;
    height: 20%;
    text-align: center;
    border: 3px solid rgb(80, 226, 226);
    border-radius: 10px;
}

.modeBtn:hover {
  box-shadow: 0 0 10px 0 #6bb5c0 inset, 0 0 10px 4px #758b8f;
  color: #7a9ea3;
}