.ratingBlock {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
    min-height: 1000px;
    width: 1000px;
    border-radius: 3px;
    border-color: aqua;
    box-shadow: 3px 3px 10px 10px aqua;
}

.scores {
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    font-size: 30px;
}

.ratingContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    box-shadow: 3px 3px 10px 10px aqua;
    left: 10%;
    top: 20%;
    width: 80%;
    height: auto;
    min-height: 450px;
}

.rate {
    box-shadow: 1px 1px 1px 1px aqua;
    width: 30%;
    height: auto;
    text-align: center;
}